
html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
  scroll-behavior: smooth;
}

.col {
display: inline-block;
box-sizing: border-box;
}

body {
margin: 0;
}

.hidden {
  visibility: hidden;
}

.btn.btn-primary {
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 18px;
  box-shadow: 0px 1px 6px 0px grey;
}

.spinner-overlay {
  position: fixed;
  background: #ffffff80;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
}


header {
	padding-top: 10px;
    background: #26a69a;
    border-bottom: 4px solid #eaeaea;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}
.generate-btn {
    margin-top: 24px;
}
.generate-btn .btn {
    padding: 0 1rem;
}
.pane-title {
	margin-bottom: 10px;
}
.page-header {
	text-align: center;
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}
.page-container {
	min-height: 100%;
}
.message-box {
	text-align: center;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 300;
}
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    z-index: 100;
}
input {
    font-family: "Roboto", sans-serif;
}

.row {
	margin-bottom: 10px;
}
.col {
	display: inline-block;
	box-sizing: border-box;
}
.left-pane, .right-pane {
	margin: 5%;
	float: left;
	width: 40%;
	box-sizing: border-box;
}
.center-pane {
	margin: 4% 10%;
}
.dropdown-content {
	max-height: 300px;
}
.collection .collection-item.avatar {
	min-height: 60px;
}
.btn.upload-btn {
	float: none;
    padding: 0px 40px;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 20px;
    white-space: nowrap;
}
.status-section {
    margin-top: 1rem;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    min-height: 30px !important;
}

.center {
    text-align: center;
}

.api-link {
    color: #26a69a;
    cursor: pointer;
}

.api-link:hover {
    text-decoration: underline;
}
.input-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.input-section, .status-section {
    margin-bottom: 20px;
}

.url-input-field {
    line-height: 40px;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    box-shadow: 3px 2px 6px 0 lightgrey;
    min-width: 50%;
    font-weight: lighter;
}

*:focus, *:active {
    outline: 0;
}

.url-input-field:focus, .url-input-field:active, .shorten-btn:focus, .shorten-btn:active {
    box-shadow: 0 4px 10px 0 lightgrey;
}

.url-input-field::placeholder {
    /* color: lightgrey; */
    font-weight: 400;
}

.url-output-field {
    line-height: 40px;
    font-size: 32px;
    padding: 10px;
    border: 2px dashed lightgrey;
    color: #26a69a;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    width: 250px;
}

.selector.url-input-field {
    min-width: 0;
    max-width: 100px;
}

.shorten-btn {
    border: none;
    background: #26a69a;
    color: white;
    box-shadow: 0px 6px 6px 0 lightgrey;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
}

.shorten-btn:hover {
    background: #249e93;
}
.shorten-btn:active {
    box-shadow: inset 0px 0px 4px 0 lightgrey;
}

.copy-btn {
    font-size: 40px;
    border-radius: 0 5px 5px 0;
    box-shadow: none;
    border: 2px solid lightgrey;
    cursor: pointer;
}

.copy-btn:active {
    box-shadow: inset 0px 0px 4px 0 lightgrey;
}

.curl-code {
    background: #ececec;
    overflow: scroll;
    padding: 10px;
}

.error-section {
    margin-top: 1rem;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: red;
}

@media screen and (max-width: 480px) {
    footer {
        display: none;
    }

    .message-box {
        font-size: 1.2rem;
        margin-top: 30px;
        font-weight: 400;
    }
    .input-container {
        margin: 25px 0;
    }

    .input-section {
        margin-top: 6vh;
    }

    .url-input-field {
        font-size: 16px;
        width: 300px;
    }
}
